h1 {
font-size: 175%;
}
.page-header {
margin-top: 1em;
}

body {
    padding: 0;
}

.container {
    padding:0 10px;
    max-width: 100% !important;
}

.pioneers .list-group-item {
    padding: 5px 0 5px 0;
}